@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media only screen and (max-width: 600px) {
  header img {
    display: none;
  }
}

* {
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Inter', sans-serif;
  max-width: 375px;
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
}

header {
  color: #fff;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: end;
}

.menu {
  padding: 1px 35px;
  margin-top: 15px;
  width: auto;
}

.background_image {
  background-image: url('images/header-illsutration-mobile.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 653px;
}

.info {
  font-size: 40px;
  display: block;
  align-items: center;
  text-align: center;
  color: #172b4d;
  padding-top: 44px;
  margin-top: 5px;
}

h1 span {
  color: #36b37e;
}

.bio {
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

.tag li {
  background: #ebf0ee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 3%;
  color: #3a4a42;
  border-radius: 1px;
  border: 1px solid white;
  gap: 500px;
}

.tag1 li {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #36b37e;
  border-radius: 4px;
}

.tag2 li {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #36b37e;
  border-radius: 4px;
}

.tag3 li {
  background: #fff;
  display: flex;
  align-items: normal;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
  border-radius: 4px;
}

.links ul li {
  display: block;
  align-items: center;
  float: left;
  margin-right: 30px;
}

.links {
  min-width: 375px;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 97px;
}

.container2 .btn {
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  margin-bottom: 20px;
}

.container2 .indicator {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  display: flex;
  align-items: center;
  margin-left: 160px;
  margin-right: 135.5px;
  margin-top: 5px;
}

.container2 h2 {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-left: 78px;
  color: #172b4d;
}

.first-img {
  background: url(images/Snapshoot\ Portfolio.png) no-repeat;
  min-width: 375px;
  height: 220px;
  margin-left: 10%;
  margin-top: 0;
  display: flex;
  align-items: center;
  text-align: center;
}

.container2 h3 {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 24px;
  color: #3a4a42;
  margin-left: 80px;
  padding-top: 10px;
  margin-bottom: 10px;
  line-height: 32px;
}

.container2 ul {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container2 a button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 115px;
  margin-bottom: 48px;
  margin-top: 48px;
  color: #fff;
  border: #fff;
  gap: 10px;
  width: 122px;
  height: 48px;
  bottom: 8px;
  background: #36b37f;
  border-radius: 8px;
}

.footer button:hover {
  box-shadow: 0 2px 10px #36b37e;
}

.footer button:active {
  background-color: #008552;
}

.container2 a button:hover {
  box-shadow: 0 2px 10px #36b37e;
}

.container2 a button:active {
  background-color: #008552;
}

.container2 .second-img {
  background: url(images/snapa.png) no-repeat;
  min-width: 80%;
  height: 220px;
  margin-left: 10%;
  margin-top: 0;
}

.container2 .third-img {
  background: url(images/Snapb.png) no-repeat;
  min-width: 80%;
  height: 220px;
  margin-left: 10%;
  margin-top: 0;
}

.container2 .fourth-img {
  background: url(images/Snapc.png) no-repeat;
  min-width: 80%;
  height: 220px;
  margin-left: 10%;
  margin-top: 50px;
}

.container2 .fifth-img {
  background: url(images/snapa.png) no-repeat;
  min-width: 80%;
  height: 220px;
  margin-left: 10%;
  margin-top: 0;
}

.container2 .sixth-img {
  background: url(images/Snapb.png) no-repeat;
  min-width: 80%;
  height: 220px;
  margin-left: 10%;
  margin-top: 0;
}

.container3 h2 {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 40px;
  position: absolute;
  font-weight: 700;
  margin-left: 80px;
  color: #172b4d;
  margin-top: -65px;
}

.container3 p {
  font-size: 20px;
  display: flex;
  text-align: center;
  line-height: 1.5;
  color: #42526e;
  padding-top: 15px;
}

.my-resume {
  display: flex;
  align-items: center;
  color: #fff;
  border: #fff;
  gap: 10px;
  width: 150px;
  height: 48px;
  bottom: 8px;
  padding: 10px 10px;
  margin-left: 110px;
  background: #36b37f;
  letter-spacing: 1px;
  border-radius: 4px;
}

.last-img img {
  min-width: 10%;
  height: auto;
  margin-left: 307px;
}

.container3 a {
  padding: 20px;
}

.last-img2 img {
  display: flex;
  position: relative;
  margin-top: 0;
  margin-left: 0;
}

.container4 {
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background: #ebf0ee;
  padding-bottom: 84px;
  padding-left: 36px;
  padding-right: 36px;
  margin-bottom: 24px;
}

.container4 .last-sec {
  background: url(images/icon-languages.png) no-repeat;
  min-width: 80%;
  min-height: 130px;
  margin-left: 28%;
  margin-top: 40px;
}

.container4 h3 {
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 24px;
  margin-left: 82px;
  font-size: 24px;
  color: #344563;
}

.container4 ul {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
}

.container5 {
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background: #ebf0ee;
  padding-bottom: 84px;
  padding-left: 36px;
  padding-right: 36px;
  margin-bottom: 24px;
}

.container5 .last-sec1 {
  background: url(images/icon-frameworks.png) no-repeat;
  width: 295px;
  min-height: 130px;
  margin-left: 30%;
  margin-top: 40px;
}

.container5 h3 {
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 24px;
  margin-left: 76px;
  font-size: 24px;
  color: #344563;
}

.container5 ul {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.container6 {
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background: #ebf0ee;
  padding-bottom: 84px;
  padding-left: 30px;
  padding-right: 20px;
  margin-bottom: 30px;
}

.container6 .last-sec2 {
  background: url(images/icon-skills.png) no-repeat;
  width: 295px;
  min-height: 130px;
  margin-left: 28%;
  margin-top: 40px;
}

.container6 h3 {
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 24px;
  margin-left: 120px;
  font-size: 24px;
  color: #344563;
}

.container6 ul {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 0.5rem;
  gap: 8px;
}

.container3 a button:hover {
  box-shadow: 0 2px 10px #36b37e;
}

.container3 a button:active {
  background-color: #008552;
}

