@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Inter', sans-serif;
}

.backgrounds {
  position: relative;
}

@media (min-width: 375px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu-icon {
    display: flex;
    justify-content: end;
    padding: 20px 35px;
  }

  .home {
    background: url(./images/header-illsutration-mobile.svg) no-repeat;
    background-position: 100% 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 100%;
  }

  .introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* margin-top: -50px; */
  }

  .introduction h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #172b4d;
  }

  .introduction h1 span {
    color: #36b37e;
  }

  .content-paragraph {
    margin-top: 1.25rem;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding: 0 26px;
    color: #172b4d;
  }

  .social-icons ul {
    display: flex;
    gap: 20px;
    margin-top: 1.25rem;
    list-style: none;
    justify-content: center;
    align-items: center;
  }

  .social-icons ul li a {
    text-decoration: none;
  }

  .down-arrow {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .projects h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #172b4d;
    position: relative;
  }

  .projects .line {
    display: block;
    height: 0.25rem;
    width: 3rem;
    border-radius: 24px;
    background-color: #36b37e;
  }

  .project-cards {
    margin-top: 60px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .project-card {
    width: 20.44rem;
    height: 29.48rem;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }

  .project-card_image {
    height: 11.85rem;
    width: 20.31rem;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    background-color: #ebf0ee;
  }

  .project-card_details {
    display: grid;
    gap: 20px;
    place-items: center;
  }

  .project-card_details h3 {
    line-height: 32px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    color: #3a4a42;
  }

  .project-card_details .stacks {
    display: flex;
    border-radius: 4px;
    flex-direction: row;
    align-items: center;
    gap: 9px;
  }

  .project-card_details .stacks ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 9px;
  }

  .project-card_details .stacks li {
    background: #ebf0ee;
    border-radius: 4px;
    padding: 8px 12px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 3%;
    color: #3a4a42;
  }

  .green-button {
    padding: 16px;
    border: none;
    border-radius: 8px;
    color: #eef3ee;
    background-color: #36976f;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    margin-top: 10px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    transition: box-shadow 0.3s ease;
  }

  .green-button:hover {
    background-color:#2e9c6e;
  }

  .green-button:active {
    background-color: #348a69;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    position: relative;
  }

  .about-me h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #172b4d;
  }

  .background-top-right {
    display: block;
    position: absolute;
    top: -4.69rem;
    right: 0;
    width: 4.25rem;
    height: 7.94rem;
    background-image: url('./images/Mask Group.png');
    background-size: cover;
  }

  .background-top-right2 {
    display: none;
  }

  .background-bottom-left {
    position: absolute;
    top: 15rem;
    left: 0;
    width: 5.94rem;
    height: 4.25rem;
    background-image: url('./images/Frame.svg');
    background-size: cover;
  }

  .background-bottom-left2 {
    display: none;
  }

  .about-button {
    margin: 40px 0;
  }

  .skills {
    margin-top: 20px;
  }

  .skills-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .skills .skills-list li {
    display: flex;
    flex-direction: column;
  }

  .skill-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    width: 20.44rem;
    height: 19.75rem;
    border: 1px solid #c1c7d0;
    background: #ebf0ee;
    border-radius: 8px;
  }

  .skill-list h3 {
    width: 22.31rem;
    height: 32px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #344563;
    margin: -20px 0 20px 0;
  }

  .skills-list .skill-list ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 8px;
    gap: 9px;
  }

  .skills-list .skill-list li {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 3%;
    color: #36b37e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 10px;
    background: #fff;
    border-radius: 8px;
  }

  .contact-me {
    margin-top: 100px;
    position: relative;
  }

  .contact-me h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
    margin-bottom: 80px;
  }

  .contact-me form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 30px 0 24px;
    place-items: center;
  }

  .contact-me form .form-input {
    background: #fff;
    border: 1px solid #e0e2e1;
    border-radius: 4px;
    width: 100%;
    height: 48px;
  }

  ::placeholder {
    padding: 15px 16px;
  }

  textarea {
    height: 114px;
    background: #fff;
    width: 100%;
    border: 1px solid #559678;
    border-radius: 4px;
    resize: both;
    overflow: auto;
  }

  .contact-me form button {
    margin-bottom: 40px;
  }

  footer {
    position: relative;
  }

  .right-background {
    display: block;
    position: absolute;
    top: -7.69rem;
    right: 0;
    width: 4.25rem;
    height: 10.94rem;
    background-image: url('./images/Frame\ \(1\).svg');
    background-size: cover;
    background-position: right bottom;
  }

  .right-background2 {
    display: none;
  }

  footer p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
  }

  .footer-line {
    display: none;
  }

  footer .social-icons {
    margin-bottom: 20px;
  }
}

@media (min-width: 600px) {
  .background-bottom-left {
    top: 10rem;
  }
}

@media (min-width: 768px) {
  ul {
    list-style: none;
  }

  .desktop-menu {
    display: block;
    position: relative;
  }

  .desktop-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  .desktop-menu ul li a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #050e1d;
  }

  .desktop-menu li a:hover {
    color: #138157;
  }

  .desktop-menu li a:active {
    color: #3d916e;
  }

  .mobile-menu-icon {
    display: none;
  }

  .home {
    background: url(./images/Header-llustration-desktop.svg) center top no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 1224px;
  }

  .home-1 {
    width: 70%;
    padding-bottom: 164px;
    margin-right: 4rem;
  }

  .content-paragraph {
    margin-top: 3rem;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #172b4d;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }

  .social-icons ul li a:hover img {
    animation: increaseSize 3s;
  }

  @keyframes increaseSize {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(1.2);
    }
  }

  .green-button:hover {
    transition-duration: 2s;
    transition-delay: 0.5s;
  }

  .projects {
    margin-top: 7rem;
  }

  .projects .line {
    display: none;
  }

  .project-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .background-top-right {
    display: none;
  }

  .background-top-right2 {
    display: block;
    position: absolute;
    top: -7rem;
    right: 0;
    width: 15.25rem;
    height: 16.94rem;
    background-image: url('./images/Frame\ \(2\).svg');
    background-size: cover;
  }

  .background-bottom-left {
    display: none;
  }

  .background-bottom-left2 {
    display: block;
    position: absolute;
    top: 9rem;
    left: -130px;
    width: 19.94rem;
    height: 10.25rem;
    background-image: url('./images/illustration-about-me-2-desktop.svg');
    background-size: cover;
  }

  .skills-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .right-background,
  .right-background2,
  .left-background,
  .left-background2 {
    display: none;
  }

  footer p {
    display: none;
  }

  .footer-line {
    display: block;
    width: 100%;
    height: 1px;
    background: #dfe1e6;
  }
}

@media (min-width: 1028px) {
  .project-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .skills-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .contact-me {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 8% 15%;
  }

  .contact-me h3 {
    font-size: 30px;
    display: flex;
    align-items: center;
    color: #172b4d;
    flex: 2;
  }

  .contact-me form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 30px 0 24px;
    flex: 2;
  }

  .contact-me form button {
    margin-bottom: 40px;
    align-self: flex-start;
  }

  .right-background2 {
    display: block;
    position: absolute;
    top: -20.69rem;
    right: 0;
    width: 10.25rem;
    height: 20.94rem;
    background-image: url('./images/Contact-Frame.svg');
    background-size: cover;
    background-position: right bottom;
  }

  .right-background {
    display: none;
  }

  .left-background {
    display: block;
    position: absolute;
    top: -16rem;
    left: 0;
    width: 10.94rem;
    height: 16.25rem;
    background-image: url('./images/Contact-Me-Frame.svg');
    background-size: cover;
  }

  .left-background2 {
    display: block;
    position: absolute;
    top: -12rem;
    left: 20rem;
    width: 9.94rem;
    height: 7.25rem;
    background-image: url('./images/illustration-2-contact-form-desktop.svg');
    background-size: cover;
  }
}
